body,
html {
  height: 100%;
  background-image: url("./img/background.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* body {
  margin-top: -2em;
} */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.game {
  background-color: white;
  width: 50%;
  padding: 1em;
  margin: 0px auto;
  border-radius: 1em;
}

.correct {
  background-color: green;
}
