html {
  height: 100%;
  background-image: url("./img/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "IBM Plex Sans", sans-serif;
}

a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

.App {
  text-align: center;
  /* min-height: calc(100vh - 20px); */
  /* margin-top: 10rem; */
}

.game {
  background-color: white;
  width: 50%;
  padding: 1em;
  margin: 0px auto;
  border-radius: 1em;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .game {
    width: 85%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .game {
    width: 45%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .game {
    width: 35%;
  }
}

.container {
  margin-top: 10vh;
}
